.contato__button  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button.contato__button {
    align-items: center;
    background-color: #2A7AE4;
    border: none;
    color: #FFFFFF;
    display: flex;
    font-family: Raleway, sans-serif;
    font-size: 16px;
    font-weight: 400;
    height: 50px;
    justify-content: center;    
    text-align: center;
    width: 200px;
}

#button-contato:hover {
    background-color: #5595E9;
    cursor: pointer;
}