.pessoa__texto {
    color: #464646;
    font-family: Raleway, sans-serif;
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 30px;

}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .pessoa__texto {
        font-size: 16px;
        font-weight: 400;
        padding-right: 15px;
        padding-bottom: 10px;
    }    
}
/* Estilos para tela de celular */
@media screen and (max-width: 480px) {
    .pessoa__texto {
        font-size: 16px;
        font-weight: 400;
        padding-bottom: 10px;
    }
    
}
