.pessoa__imagem {
    
   border-radius: 100px;    
}

@media screen and (min-width: 481px) and (max-width: 850px) {
    /* Estilos para tela de tablet */
    .pessoa__imagem {
        max-width: 146px;
        max-height: 146px;
      
    }
}

/* Estilos para tela de celular */
@media screen and (max-width: 480px) {
    .pessoa__imagem {
        width: 100px;
        height: 100px;
    }
    
}