.pessoa{
    padding-top: 20px;
    padding-left: 100px ;
    padding-bottom: 20px;
    padding-right: 100px;
    display: flex;
}

.container__pessoa {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

@media screen and (min-width: 481px) and (max-width: 850px) {
    /* Estilos para tela de tablet */
    .pessoa {
    
    padding-left: 30px ;
    
    padding-right: 30px;       
      
    }

    .container__pessoa {
        justify-content: center;
    }
}

/* Estilos para tela de culular */

@media screen and (max-width: 480px) {
    .pessoa {
        flex-direction: column-reverse;
        padding-top: 20px;
        padding-left: 20px ;
        padding-bottom: 20px;
        padding-right: 20px;
       


    }
    
}