.pessoa__lista {
    display: flex;  
   
    margin-right: 20px;
   
    text-align: left;
        
}

/* Estilos para tela de celular */

@media screen and (max-width: 480px) {
    .pessoa__lista {
        padding-right: 0px;
        justify-content: space-between;
    }
    
}
